@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e0e1dd;
    --foreground: #0d1b2a;
    --primary: #415a77;
    --secondary: #778da9;
    --accent: #1b263b;
  }

  .dark {
    --background: #0d1b2a;
    --foreground: #e0e1dd;
    --primary: #778da9;
    --secondary: #415a77;
    --accent: #1b263b;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
